@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: orange; }
  header nav {
    font-size: 20px;
    align-items: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }

#MenuNavegacion {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #MenuNavegacion a {
    text-decoration: none; }

.LinkNavegacion {
  margin: 0px 50px; }

.ColorLink {
  transition: all 200ms;
  color: blue; }

.ColorLink:hover {
  color: #020000; }

main {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("/assets/img/BackgroundBoca.jpg");
  background-size: contain;
  background-position: center center;
  flex-direction: column;
  display: flex;
  align-items: center; }
  main h3 {
    color: #0b0606;
    font-family: monospace;
    font-size: 30px;
    margin: 5px 0px; }

#BocaStore {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#BannerLogo {
  width: 100%;
  height: 100px; }

#BannerImagen {
  width: 100%;
  height: 100%; }

#TituloProductos_Destacados, #TituloProductos_Hombre, #TituloProductos_Mujer, #TituloProductos_Niños {
  margin-top: 30px;
  text-align: center; }

#ProductosDestacados, #ProductosHombre, #ProductosMujer, #ProductosNiños {
  margin-bottom: 40px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 40px; }

.Remera, .Short {
  background-color: white;
  box-shadow: 3px 2px 5px #090606;
  transition: all 500ms;
  border-style: solid;
  border-width: 1px;
  width: 150px;
  height: 200px; }
  .Remera:hover, .Short:hover {
    transform: scale(1.1); }

.ImagenRemera, .ImagenShort {
  width: 100%;
  height: 150px; }

.ColorLink {
  transition: all 200ms;
  color: blue; }
  .ColorLink:hover {
    color: #020000; }

#UbicacionImagenes {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#LogoDeBoca {
  width: 100%;
  height: 100%; }

.DivImagen {
  width: 100%;
  height: 300px; }

#SectionTexto {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column; }

#DivSection {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.SizeEscudoBoca {
  width: 200px;
  height: 300px; }

.TamañoNosotrosEscudo {
  width: 100%;
  height: 100%; }

.Parrafo-y-Titulo {
  width: 100%;
  margin: 50px;
  color: #131307; }
  .Parrafo-y-Titulo p, .Parrafo-y-Titulo p h2 {
    margin: 10px; }

#Contenedor-Formulario {
  width: 300px;
  height: 400px; }

#Contacto {
  text-align: center; }

#Formulario {
  margin-bottom: 20px; }

.div.info {
  display: flex;
  flex-direction: column; }

form, form input, form input textarea {
  width: 200px;
  font-family: monospace;
  font-weight: 900; }

footer, footer .RedesSociales {
  height: 40px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .RedesSociales {
    width: 30px;
    height: 30px; }

@media (min-width: 576px) {
  #ProductosDestacados, #ProductosHombre, #ProductosMujer, #ProductosNiños, #ProductosHombre, #ProductosMujer, #ProductosNiños {
    grid-template-columns: repeat(2, auto); } }

@media (min-width: 992px) {
  header nav {
    height: 80px;
    flex-direction: row;
    justify-content: space-between; }
  #MenuNavegacion {
    width: fit-content;
    flex-direction: row;
    justify-content: center; }
  .LinkNavegacion {
    margin: 20px; }
  #BocaStore {
    font-size: 40px;
    flex-direction: row;
    width: fit-content;
    margin-left: 30px; }
  #BannerLogo {
    height: 200px; }
  #ProductosMujer {
    height: 720px; }
  #ProductosNiños {
    height: 720px; }
  #ProductosHombre {
    grid-template-columns: repeat(3, auto);
    height: 750px; } }

@media (min-width: 1200px) {
  #ProductosMujer {
    height: 800px; }
  #ProductosNiños {
    height: 800px; }
  #ProductosHombre {
    height: 900px; }
  .DivImagen {
    height: 300px; }
  #SectionTexto {
    width: 70%;
    flex-direction: row; } }
