footer{
    height: 40px;
    background-color: $Background-principal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .RedesSociales{
        width: 30px;
        height: 30px;
        @extend footer
    }
}
