main {
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(
	0deg,
	rgba(0,0,0,0.2),
	rgba(0,0,0,0.3)),
    url("/assets/img/BackgroundBoca.jpg");
    background-size: contain;
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    h3{
        color: rgb(11, 6, 6);
        font-family: monospace;
        font-size: 30px;
        margin: 5px 0px;
        } 
    }
    #BocaStore{
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #BannerLogo{
        width: 100%;
        height: 100px;
    }
    #BannerImagen{
        width: 100%;
        height: 100%;
    }
#TituloProductos_Destacados{
    margin-top: 30px;
    text-align: center;
}
#ProductosDestacados{
    margin-bottom: 40px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 40px;
}
.Remera{
    background-color: white;
    box-shadow: 3px 2px 5px rgb(9, 6, 6);
    transition: all 500ms;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    height: 200px;
    &:hover{
        transform: scale(1.1);
    }
}
.Short{
    @extend .Remera
}
.ImagenRemera{
    width: 100%;
    height: 150px;
}
.ImagenShort{
    @extend .ImagenRemera
}
.ColorLink{
    transition: all 200ms;
    color: blue;
    &:hover{
        color: rgb(2, 0, 0);
    } 
}