@media (min-width:992px){
    header{
        nav{
            height: 80px;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #MenuNavegacion{
        width: fit-content;
        flex-direction: row;
        justify-content: center;
    }
   .LinkNavegacion{
        margin: 20px;
    }
    #BocaStore{
        font-size: 40px;
        flex-direction: row;
        width: fit-content;
        margin-left: 30px;
    }
    #BannerLogo{
        height: 200px;
    }
    #ProductosMujer{
        height: 720px;
    }
    #ProductosNiños{
        height: 720px;
    }
    #ProductosHombre{
        grid-template-columns: repeat(3,auto);
        height: 750px;
    }
}