@media (min-width:1200px){
    #ProductosMujer{
        height: 800px;
    }
    #ProductosNiños{
        height: 800px;
    }
    #ProductosHombre{
        height: 900px;
    }
    .DivImagen{
        height: 300px;
    }
    #SectionTexto{
        width: 70%;
        flex-direction: row;
    }
}